* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", Arial, sans-serif;
  background-color: aliceblue;
}

.emoji {
  font-family: "Segoe UI Emoji";
  font-size: 1.5rem;
}

.app {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 1rem;
  width: 800px;
  margin-top: 50px;
}

.button-container,
.info-container {
  display: flex;
  align-items: center;
}

.button {
  margin: 0 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 12px;
  background-color: transparent;
  cursor: pointer;
  font-size: 10px;
}

.button.button_create {
  border: 1px solid rgb(108, 115, 148);
  color: rgb(108, 115, 148);
  text-transform: uppercase;
}

.button.button_create:hover {
  background-color: rgb(131, 138, 172);
}

.button.button_signout {
  border: 1.5px solid rgb(255, 175, 163);
  background-color: rgb(255, 175, 163);
}

.button.button_signout:hover {
  background-color: rgb(175, 94, 94);
  border-color: rgb(175, 94, 94);
  color: white;
}

.button.button_signout:active {
  border: 1.5px solid rgb(175, 81, 81);
  background-color: rgb(175, 81, 81);
  color: rgb(255, 255, 255);
}

.button.button_create:active {
  background-color: rgb(108, 115, 148);
  color: rgb(255, 255, 255);
}

.button.edit {
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(141, 181, 145);
  transition: 100ms;
  text-transform: uppercase;
}

.button.edit:hover {
  background-color: rgb(182, 223, 186);
  color: rgb(125, 161, 129);
}

.button.edit:active {
  border-color: rgb(141, 181, 145);
  color: white;
  background-color: rgb(141, 181, 145);
}

.button.delete {
  border: 1.5px solid rgb(255, 175, 163);
  color: rgb(255, 175, 163);
  text-transform: uppercase;
  transition: 100ms;
}

.button.delete:hover {
  background-color: rgb(255, 175, 163);
  color: rgb(197, 139, 130);
}

.button.delete:active {
  background-color: rgb(255, 175, 163);
  color: white;
}

/*List header*/
.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1.5rem 0;
}

.list-header-title {
  display: flex;
  align-items: center;
}

/*list-item*/

.list-item {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
}

.info-container {
  display: flex;
  align-items: center;
  width: 70%;
}

.tick-icon {
  color: rgb(84, 84, 84);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem 0 0;
}
